<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of cats">
    <ion-card-header>
      <ion-card-title class="ion-text-center"> {{item.id}} </ion-card-title>
      <ion-card-subtitle>
        <p> Ancho: {{item.width}}px </p>
        <p> Altura: {{item.height}}px </p>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <img [src]="item.url" alt="{{item.id}}">
    </ion-card-content>
    <ion-button (click)="getCatImage()" expand="block" mode="ios">Cambiar</ion-button>
  </ion-card>
</ion-content>
